{% extends 'vote/layout.html' %}
{%block title%}
Vote
{%endblock%}

{%block content%}
    <body>
        <table class="table">
            <tr class="thead-light">
                <th>번호</th>
                <th>이름</th>
                <th>지역</th>
                <th>투표하기</th>
            </tr>
            {%if not candis %}
                <tr><td colspan="4">No one</td></tr>
            {%endif%}
            {%for candi in candis%}
            <tr>
                <td>{{candi.id}}</td>
                <td>{{candi.name}}</td>
                <td>{{candi.area}}</td>
                <td><button onclick="location.href='/vote/select/{{candi.id}}/{{poll_id}}'" class="btn btn-outline-info btn-sm">Vote</button></td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>
{%endblock%}